<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>

<div class="container-fluid">
  <h5 class="text-black text-center">Oops! Something went wrong!</h5>
  <h5 class="text-black text-center">We apologize for the inconvenience. We are working to resolve the problem.</h5>
  <img th:src="@{/images/lost.jpg}" alt="Dog">

</div>

<footer></footer>
</body>
</html>
