<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>

<div class="container-fluid center-content">
  <div class="text-section">
    <h5 class="text-black text-center">Oops! Something went terribly wrong!</h5>
    <h5 class="text-black text-center">We are working to resolve the problem.</h5>
  </div>
  <img th:src="@{/images/cartoon.png}" alt="Cartoon" class="small-cartoon">
  <a th:href="@{/}" class="orange-button go-back-btn">Go Back</a>
</div>

<footer></footer>
</body>
</html>
