<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>

<div class="container table-container">
    <h2>Users</h2>
    <table class="table-appointments">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Add Role</th>
            <th>Remove Role</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role}"></li>
                </ul>
            </td>
            <td>
                <form th:action="@{/admin/user/add/role}" method="POST">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <select name="newRole">
                        <option th:each="role : ${T(com.example.demo.model.enums.UserRoleEnum).values()}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <button type="submit" class="btn btn-success">Add Role</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/user/remove/role}" method="POST">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <select name="removeRole">
                        <option th:each="role : ${user.roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <button type="submit" class="btn btn-danger">Remove Role</button>
                </form>
            </td>
            <td>
                <div class="delete-button">
                    <a href="" th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
