<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<body>

<div class="container table-container">
    <h2>Medical records</h2>
    <table class="table-appointments">
        <thead>
        <tr>
            <th>Name</th>
            <th>Diagnostic</th>
            <th>Treatment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicalRecords : ${medicalRecord}">
            <td th:text="${medicalRecords.petName}"></td>
            <td th:text="${medicalRecords.diagnostic}"></td>
            <td th:text="${medicalRecords.treatment}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>