<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
  <script th:src="@{/js/fetch-vet-names.js}" defer="defer"></script>
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">All Vets</span></h1>
  <hr class="hr-3 w-25 bg-white"/>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Vet Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vetName, index : ${vetNames}">
      <td th:text="${index.index + 1}"></td>
      <td th:text="${vetName}" class="font-weight-bold"></td>
    </tr>
    </tbody>
  </table>
</main>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>
